// Global Variables
:root {
  --primaryColor: #F5DF4E;
  --secundaryColor: #000;
  --whiteColor: #ffffff;
  --transpWhiteColor : #ffffffd6;;
  --transpDarkColor : #232323cc;
  --blackColor : #000;
  --grayColor : #c6d1db4d;
  --darkGrayColor : #c6d1db;
  --successColor : #00fe9c;
  --inforColor : #1f97f6;
  --errorColor : #EA2512;
  --warningColor : #f2af29;
  --defaultFont: "Poppins", sans-serif;
}
@media (prefers-color-scheme: dark) {
  :root {
  --primaryColor: #F5DF4E;
  --secundaryColor: #000;
  --whiteColor: #ffffff;
  --transpWhiteColor : #ffffffd6;;
  --transpDarkColor : #232323cc;
  --blackColor : #000;
  --grayColor : #c6d1db4d;
  --darkGrayColor : #c6d1db;
  --successColor : #00fe9c;
  --inforColor : #1f97f6;
  --errorColor : #EA2512;
  --warningColor : #f2af29;
  --defaultFont: "Poppins", sans-serif;
}
  body {}
  /*
    * iOS Theme
    * -------------------------------------------
    */
  .ios body {}
  .ios ion-modal {}
  /*
    * Material Design Theme
    * -------------------------------------------
    */
  .md body {}
}